<li class="media">
  <div class="media-body">
    <p class="push-bit">
      <strong>@<%= comment.user.username %></strong> commented <strong><%= local_time_ago(comment.created_at) %></strong>
    </p>
    <%= comment.body %>
  </div>
</li>
