<%= content_for :title, 'Unlock Account' %>

<%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, :role => 'form', class: "form-horizontal"}) do |f| %>

  <div class="form-group">
    <div class="col-xs-12">
      <%= f.input :email, required: true, autofocus: true, class: 'form-control', placeholder: "Enter your email.." %>
    </div>
  </div>

  <div class="form-group form-actions">
    <div class="col-xs-12 text-right">
      <%= f.button :submit, "Resend unlock instructions", class: "btn btn-lg btn-block btn-effect-ripple btn-primary" %>
    </div>
  </div>
<% end %>
