<%= markdownify(@comment.body) %>

<p style="font-size:small;-webkit-text-size-adjust:none;color:#666;">&mdash;<br>
  View it on <%= link_to "Popn Issues ##{@issue.id}", issue_url(@issue) %>.
  <br>
  This is a system generated email. Do not reply.</p>

  <div itemscope itemtype="http://schema.org/EmailMessage">
    <div itemprop="potentialAction" itemscope itemtype="http://schema.org/ViewAction">
      <link itemprop="target" href="<%= issue_url(@issue) %>"/>
      <meta itemprop="name" content="View Issue"/>
    </div>
    <meta itemprop="description" content="View this on Popn Issues"/>
  </div>
